<section class="navbar-container">
    <div class="d-flex justify-content-between align-items-center navbar-wrapper">
        <div class="nav-links">
            <a class="navLink" routerLink="/work" routerLinkActive="active-link" >Work</a>
            <a class="navLink" >Services</a>
        </div>

        <div class="logo text-center">
            <a routerLink=""><img src="assets/logo.png" alt="the sixth draft"></a>
        </div>

        <div class="menu" *ngIf="true">
            <button (click)="toggleNav()"><img src="assets/menu.png" alt=""></button>
        </div>

        <div class="nav-links">
            <a class="navLink" >Contact</a>
            <a class="navLink" routerLink="/blog" routerLinkActive="active-link" >Blog</a>
        </div>

    </div>

    <div class="nav-sm">
        <div class="nav-links-sm" [attr.data-visible]="hide">
            <a routerLink="/work"  routerLinkActive="active-link" class="navLink">Work</a>
            <a href="" class="navLink">Services</a>
            <a href="" class="navLink">Contact</a>
            <a routerLink="/blog"  routerLinkActive="active-link" class="navLink">Blog</a>
        </div>
    </div>
</section>
