.hero-section{
	background-image: url("src/assets/bg-image.png");
}
.hero-section h2{
	font-family: 'Rajdhani', sans-serif;
}
.call-btn{
	background: white;
	padding: 0.8rem;
	border: none;
	border-radius: 7rem;
	font-size: 1.7rem;
	width: 30%;
	margin-top: 10%;
}
.featured-work{
	background: #2A0049;
	padding: 2rem;
	
}
.feat-work-text{
	color: white;
}
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	width: 90%;
	margin: 0 auto;
}
.view-more{
	background: #8000DF;
	border: none;
	outline: none;
	color: white;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	font-size: 1.3rem;
	margin-top: 2.5rem;
}
.market-container{
	background: black;
}
.marketing{
	background-color: black;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	height: 60vh;
	background-image: url("src/assets/sixthDraft.png");
	width: 60%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}
.marketing-text{
	color: white;
}
.copyright{
	color: white;
	font-size: 1.2rem;
}
@media (min-width: 1500px) {
	.hero-section{
		width: 90%;
		margin: 1.5rem auto;
		height: 75vh;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		color: white;
	}
	.hero-section h2{
    font-size: 6rem;
	}
	.hero-section p{
		font-size: 2rem;
		width: 75%;
		margin: 0 auto;
	}

	.services-wrapper{
		width: 90%;
		margin: 2rem auto;
		height: 65vh;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.accordion{
		width: 50%;
		color: black;
		margin: 0 auto;
	}
	.accordion-item{
		margin-block: 1.5rem;
		border-radius: 2rem;
	}
	.accordion-button{
		font-size: 1.5rem;
		font-weight: 700;
	}
	.accordion-body{
		font-size: 1.15rem;
		padding: 1.5rem;
	}
	.accordion-button, .accordion-button:first-of-type, .accordion-item:last-of-type .accordion-button.collapsed ,.accordion-item{
		border-radius: 2rem;
		/* border-bottom-left-radius: 2rem; */
	}
	.services-header h3{
		font-size: 3rem;
	}

	.feat-work-text{
		font-size: 3rem;
		padding: 2rem;
	}
	.marketing-text h3{
		font-size: 3rem;
	}
	.marketing-text p{
		font-size: 1.2rem;
	}
}
