.footer{
    color: white;
    margin-block: 2rem;
    width: 70%;
    margin: 0 auto;
    background: #2A0049;
    border-radius: 2rem;
    padding: 4rem;
}
.footer h3{
    font-size: 3rem;
    font-weight: 700;
}
.footer p{
    font-size: 1.5rem;
}
.socials{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.socials img{
    width: 50%;
}
@media (max-width: 550px) {
    .footer{
        width: 90%;
    }
    .footer h3{
        font-size: 2rem;
    }
    .footer p{
        font-size: 1rem;
    }
    .socials{
        width: 50%;
    }
}
@media (max-width: 400px) {
   
}